#list-container {
  overflow-y: scroll; /* Enable scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
#list-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
